@using ReservationDomain.Model
@model BookYourFood.Models.MenuViewModel

@{
    ViewBag.Title = "Show Menu";
}

<div class="page-header">
    <h2>@ViewBag.Title</h2>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">Main Course</div>
    <ul class="list-group">
        @foreach (Meal meal in Model.Meals)
        {
            <li class="list-group-item">
                <h3>@meal.Name<div class="fb-like pull-right" data-href="#@meal.Id" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div></h3>
                <h4>@meal.Description</h4>
                Price: @meal.Price
                
            </li>
        }
    </ul>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">Drinks</div>
    <ul class="list-group">
        @foreach (Drink drink in Model.Drinks)
        {
            <li class="list-group-item">
                <h4>@drink.Name</h4>
                Price: @drink.Price
            </li>
        }
    </ul>
</div>