@using Utility
@model List<ReservationDomain.Model.Table>

@{
    ViewBag.Title = "Reserve";
}

<h2>Reserve</h2>

<div class="reservation-container">
    @using (Html.BeginForm("Reserve", "Reservation"))
    {
        <div class="row">
            <div class="col-md-6">
                @Html.Kendo()
                .DateTimePicker()
                .Name("dateTimeFrom")
                .Value(DateTime.Now)
                .Min(DateTime.Now)
                .HtmlAttributes(new {data_bind = "value: dateFrom"})
            </div>
            <div class="col-md-6"></div>
        </div>
        for (var i = 0; i < Model.Count; i++)
        {
            var table = Model[i];
            <div class="row">
                <div class="col-md-3">
                    <a data-bind="click: chooseTable" href="javascript:void(0);" id='@string.Format("table{0}", table.Id)' class="thumbnail">
                        <img src="~/Content/images/menu_1.png" alt="noImage">
                    </a>
                    <input type="radio" id='@string.Format("table{0}", table.Id)' hidden name="tableId" value="@table.Id"/>
                </div>
            </div>
        }
        <input type="submit" class="btn btn-primary"/>
    }
</div>


@Html.CreateJsViewModel().ViewModelName("Reserve").Container(".reservation-container")