@using Utility
@model List<BookYourFood.Models.TableViewModel>

@{
    ViewBag.Title = "Reserve";
}

<h2>Reserve</h2>

<div class="reservation-container">

    @using (Html.BeginForm("Reserve", "Reservation"))
    {
        <div class="row">
            <div class="col-md-6">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Specify date, time and duration of your reservation!</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                @(Html.Kendo()
                                      .DateTimePicker()
                                      .Name("dateTimeFrom")
                                      .Min(DateTime.Now)
                                      .Interval(15)
                                      .HtmlAttributes(new {data_bind = "value: dateFrom", style = "width: 100%", @class = "panel"}))
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                @(Html.Kendo().NumericTextBox().Name("howLong").Step(1).Min(0).Max(200).Decimals(0).HtmlAttributes(new {data_bind = "value: howLong", style = "width: 100%", @class = "panel"}))
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <input type="button" class="btn btn-primary" data-bind="click: checkAvailability" value="Search Available Tables"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
        <div class="row tables">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Now choose available table! If none table is free, you need to change you date and time.</h3>
                </div>
                <div class="panel-body">
                    @for (var i = 0; i < Model.Count; i++)
                    {
                        var table = Model[i];
                        if (i%4 == 0)
                        {
                            <div class="panel clearfix"></div>
                        }
                        var seats = table.SeatsNumber;
                        <div class="col-md-3">
                            <a data-bind="click: chooseTable" href="javascript:void(0);" id='@string.Format("table{0}", table.Id)' class="thumbnail btn disabled">
                                <img src="@string.Format("/Content/images/Table _and_chair_{0}.png",seats)" alt="noImage">Seats: @seats Number: @table.TableNumber
                            </a>
                            <input type="radio" data-bind="checked: chosedTable" id='@string.Format("table{0}", table.Id)' required hidden name="tableId" value="@table.Id" />
                            <input hidden id='@string.Format("table{0}number", table.Id)' value="@table.TableNumber" />
                        </div>
                    }
                </div>
            </div>
        </div>
            <div class="row" data-bind="invisible: isInvisible">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <span data-bind="text: choosedTableText"></span>
                    </div>
                </div>
                <input data-bind="enabled: isSubmitEnabled" type="submit" value="Reserve!" class="btn btn-primary" />
            </div>
        </div>
    }
</div>


@Html.CreateJsViewModel().ViewModelName("Reserve").Container(".reservation-container")